[scripts]
runserver = "./manage.py runserver 10.66.60.1:8000"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_full_version = "3.8.10"

[dev-packages]
black = "==20.8b1"
flakehell = "*"
flake8 = "==3.9.0"
flake8-bugbear = "*"
flake8-django = "*"
flake8-eradicate = "*"
flake8-comprehensions = "*"
flake8-return = "*"
flake8-simplify = "*"
pep8-naming = "*"
flake8-use-fstring = "*"
flake8-logging-format = "*"
flake8-pytest-style = "*"
flake8-mutable = "*"
flake8-fixme = "*"
flake8-commas = "*"
flake8-builtins = "*"
flake8-debugger = "*"
flake8-printf-formatting = "*"
pylint = "*"
pyflakes = "*"
pycodestyle = "*"
pytest-django = "*"
pytest-cov = "*"

[packages]
django = "*"
requests = "*"
waitress = "*"
minio = "*"
whitenoise = "*"
django-auth-ldap = "*"
psycopg2-binary = "*"
pyjwt= "*"
django-simple-history = "*"
cachetools = "*"
mosspy = "*"
sentry-sdk = "*"
django-silk = "*"
