[tool.black]
line-length = 79
target-version = ['py37']
exclude = "interface/migrations/*"

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "interface.settings"
log_level = "DEBUG"
testpaths = ["testsuite"]
addopts = "--cov-report=xml --cov=interface --liveserver 10.66.60.1:8000"
