{% extends "interface/generics/base.html" %}

{% block body_content %}
  <div class="container">
    {% for course in courses %}
      <h3>{{ course.name }}</h3>
      <ul>
      </ul>
      {% for assignment in course.assignment_set.all %}
        <li>
          {{ assignment.name }}:
          {% if assignment.is_active %}
            <a href="{% url "upload" course.code assignment.code %}">Upload</a>,
          {% endif %}
          <a href="{% url "subs_for_assignment" course.code assignment.code %}">Results</a>
        </li>
      {% endfor %}
      </ul>
    {% endfor %}
  </div>
{% endblock %}
