<!doctype html>
<meta charset="utf-8">
<title>vmchecker v2</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css">

{% include "interface/tracker.html" %}

<body>

<div class="container-fluid row">
  <div class="col-md-6 offset-md-3">
    <h1>vmchecker v2</h1>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
</div>
