<nav class="navbar navbar-expand-xl navbar-light bg-light">
  <a class="navbar-brand">VMCK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage' %}">Homepage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'submission_list' %}">List all submissions</a>
      </li>
      {% if assignment and assignment.is_active%}
      <li class="nav-item">
        <a class="nav-link" href="{%  url 'upload' assignment.course.code assignment.code %}">Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'subs_for_assignment' assignment.course.code assignment.code %}">Results for {{ assignment.name }}</a>
      </li>
      {% endif %}
      <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
