<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#review">Review</button>

<!-- Modal -->
<div class="modal fade" id="review" tabindex="-1" role="dialog" aria-labelledby="reviewLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="reviewLabel">Review submission {{ sub.id }}</h5>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Review details:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Finish review</button>
      </div>

    </div>
  </div>
</div>
