<!doctype html>
<html lang='en'>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>VMCK</title>
    </head>

    <body>
        <button onclick="location.href='{{ upload_url }}'" type="button">Upload submission</button>
        <button onclick="location.href='{{ submission_list_url }}'" type="button">List submissions</button>
        <p>Submission id: {{ sub.id }}</p>
        <p>Your score is: {{ sub.score }}/{{ sub.max_score }}</p>
        <p>The output is:</p>
        <samp>{{ sub.message }}</samp>
    </body>
</html>
