<!doctype html>
<html lang='en'>
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css">

      <title>Users List</title>

      {% include "interface/tracker.html" %}
  </head>

  <body>
    <div class="container">
      <h1>{{ assignment.course.name }} &mdash; {{ assignment.name }}</h1>
      <h2>{{ user }}</h2>

      <table class="table table-striped table-bordered table-sm">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Score</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for sub in submissions %}
          <tr>
            <td>{{ sub.timestamp }} </td>
            <td>{{ sub.timestamp }}</td>
            <td>{{ sub.total_score }}</td>
            <td>{{ sub.state }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
