{% extends "interface/generics/base.html" %}

{% block body_content %}
  <div class="container">
    <h1>{{ assignment.course.name }} / {{ assignment.name }}</h1>

    <h5><b>Deadline soft:</b> {{ assignment.deadline_soft|date:'Y-m-d H:i' }}</h5>
    <h5><b>Deadline hard:</b> {{ assignment.deadline_hard|date:'Y-m-d H:i' }}</h5>
    <h5><b>Scor maxim:</b> {{ assignment.max_score }}</h5>
    {% if user in assignment.course.teaching_assistants.all %}
      <form action="reveal">
        {% csrf_token %}
        <a formmethod="post" href="{% url 'reveal' assignment.course.pk assignment.pk %}" class="btn btn-primary btn-sm mr-1" type="submit">Reveal</a>
      </form>
    {% endif %}

    <table class="table table-striped table-bordered table-sm">
      <thead class="text-center">
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Time</th>
          <th scope="col">Preliminary score</th>
          <th scope="col">Final score</th>
          <th scope="col">Status</th>
          <th scope="col">Submission id</th>
          <th scope="col">Reviewed</th>
        </tr>
      </thead>
      <tbody>
        {% for sub in submissions %}
          <tr>
            <td><a href="{% url 'subs_for_user' sub.assignment.course.pk sub.assignment.pk sub.user.username %}">{{ sub.user.username }}</a></td>
            <td>{{ sub.timestamp|date:'Y-m-d H:i' }}</td>
            <td>{{ sub.score }}</td>
            {% if not sub.assignment.hidden_score %}
              {% if sub.user.username == user.username or user in sub.assignment.course.teaching_assistants.all %}
                <td>{{ sub.total_score }}/{{ sub.assignment.max_score }}</td>
              {% else %}
                <td> N/A </td>
              {% endif %}
            {% else %}
              <td> N/A </td>
            {% endif %}
            <td>{{ sub.get_state_display }}</td>
            <td><a href="{% url 'submission_result' sub.pk %}">{{sub.pk}}</a></td>
            <td class="text-center">
                {% if user.username == sub.user.username or user in sub.assignment.course.teaching_assistants.all %}
                  {% if sub.review_message %}
                    &#x2713;
                  {% endif %}
                {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="rowf text-center">
      {% if submissions.has_previous %}
        <a class="btn btn-primary" href='?page={{ submissions.previous_page_number }}'>Prev</a>
      {% endif %}

      <span class="current">
        Page {{ submissions.number }} of {{ submissions.paginator.num_pages }}.
      </span>

      {% if submissions.has_next %}
        <a class="btn btn-primary" href='?page={{ submissions.next_page_number }}'>Next</a>
      {% endif %}
    </div>

  </div>
{% endblock %}
