{% extends "interface/generics/base.html" %}

{% block body_content %}
  <div class="container">
    <h1> Submissions {{ user.username }} </h1>
        <table class="table table-striped table-bordered table-sm">
            <thead class="text-center">
            <tr>
                <th scope="col">Submission id</th>
                <th scope="col">Assignment</th>
                <th scope="col">Course</th>
                <th scope="col">Time</th>
                <th scope="col">Final score</th>
                <th scope="col">Status</th>
                <th scope="col">Reviewed</th>
            </tr>
            </thead>
            <tbody>
            {% for sub in submissions %}
                <tr>
                <td><a href="{% url 'submission_result' sub.pk %}">{{sub.pk}}</a></td>
                <td>{{ sub.assignment.name }}</td>
                <td>{{ sub.assignment.course.name }}</td>
                <td>{{ sub.timestamp|date:'Y-m-d H:i' }}</td>
                {% if not sub.assignment.hidden_score %}
                    <td>{{ sub.total_score }}</td>
                {% else %}
                    <td> N/A </td>
                {% endif %}
                <td>{{ sub.get_state_display }}</td>

                <td class="text-center">
                    {% if sub.review_message %}
                        &#x2713;
                    {% endif %}
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="rowf text-center">
            {% if submissions.has_previous %}
              <a class="btn btn-primary" href='?page={{ submissions.previous_page_number }}'>Prev</a>
            {% endif %}

            <span class="current">
              Page {{ submissions.number }} of {{ submissions.paginator.num_pages }}.
            </span>

            {% if submissions.has_next %}
              <a class="btn btn-primary" href='?page={{ submissions.next_page_number }}'>Next</a>
            {% endif %}
          </div>
  </div>
{% endblock %}
