<!-- Modal -->
<div class="modal fade" id="review" tabindex="-1" role="dialog" aria-labelledby="reviewLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="reviewLabel">Review submission {{ sub.pk }}</h5>
      </div>

      <div class="modal-body">
        <form id="reviewForm" method="post" action="review">
          {% csrf_token %}
          <div class="form-group">
            <div class="row">
                <div class="col">
                  <label for="message-text">Review details:</label>
                </div>
                <div class="col">
                  <a href="https://github.com/vmck/acs-interface/wiki/Features#review-submissions" class="float-right" style="text-decoration: none;">Format syntax</a>
                </div>
            </div>
            <textarea class="form-control" name='review-code' id="message-text">{{ submission_review_message }}</textarea>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="reviewForm">Finish review</button>
      </div>

    </div>
  </div>
</div>
